@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
          }
}

h1, h2, h3, h4,
h5, h6, p {
    margin: 0;
    padding: 0;
}
a {
}

a:hover {
    opacity: 0.4;
}

.page {
    min-width: 1100px;
   /* max-width: 1440px;*/
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
    width: 183px;
    height: 32px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.header {
    background-color:  #f2f2f2;
    /* выше установила ограничения для секции */
}

.header__container {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    margin: auto;

    max-width: 1440px;
}

.header__title {
    display: flex;
    align-items: center;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    width: 730px;
    margin: 64px;
    z-index: 3;
}

.header__subtitle {
    position: absolute;
    left: 64px;
    bottom: 30px;
    z-index: 2;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    width: 388px;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
}

.header__square-pic {
    position: absolute;
    right: 0;
    margin-top: 64px;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    animation: rotation 20s infinite;
}

.content {

}

.description {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

.two-columns {;
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    margin: auto;
    max-width: 1440px;
}

.two-columns__brief {
    width: 175px;
    margin-top: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px;
}

.two-columns__paragraph:nth-last-of-type(1){
    margin-bottom: 0;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.techniques {

}

.cards {
    width: 920px;
    max-width: 920px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cards__item {
    text-align: center;
    width: 240px;
    padding-top: 60px;
    margin-right: 100px;

}

.cards__item:nth-last-of-type(3) {
    margin-right: 0;
}

.cards__image {
    margin-bottom: 43px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.cards__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 16px;
}

.cards__description {
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    text-align: center;
    margin: 0;
}

.video {
    padding-top: 100px;
}

.video__iframes {
    text-align: center;
    margin-top: 50px;
}

.video__iframe {
    width: 515px;
    height: 316px;
    margin-right: 20px;
}

.video__iframe:last-child {
    margin-right: 0;
}

.oakley {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    padding-top: 160px;
    background-color: #f2f2f2;
}


.feynman {
    background-color:  #f2f2f2;
}

.feynman__container {
    padding-top: 100px;
    position: relative;
    min-height: 890px;
    max-width: 1440px;
    margin: auto;
}

.feynman__title {
    position: relative;
    z-index: 1;
    width: 648px;
    margin: 0 auto;
    margin-bottom: 70px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

.feynman__subtitle {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    width: 500px;
}

.feynman__link {
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    position: absolute;
    top: 50%;
    right: 48px;
}

.feynman__img {
    width: 867px;
    height: 637px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.digits {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    margin: 0 auto 20px;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.section-subtitle {
    margin: 0 auto;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
}

.khan {
    background-color: #f2f2f2;
    padding-top: 105px;
    padding-left: 10%;
    padding-right: 10%;
}

.khan__container {
    max-width: 1440px;
    margin: 0 auto;
}

.khan__author {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
}

.khan__title {
    font-size: 60px;
    line-height: 1.15;
    font-weight: bolder;
}

.khan__quote {
    max-width: 790px;
    margin-top: 50px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
}

.khan__quote-author {
    margin-top: 36px;
    font-size: 24px;
    line-height: 1.15;
    font-weight: bolder;
}

.khan__quote-author-subline {
    margin-top: 10px;
    font-size: 24px;
    line-height: 1.15;
    font-weight: normal;
}

.khan__book-container {
    display: flex;
    margin-top: 68px;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
    object-fit: cover;
    object-position: top;
}

.khan__buy-link {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}

.kaufman {
    background-color:  #1f1f1f;
    padding: 90px 0 90px;
    position: relative;
    overflow: hidden;
}

.section-title_theme_dark {
    color: white;
}

.section-subtitle_theme_dark {
    color: white;
}

.table_theme_dark {
    position: relative;
    z-index: 1;
}

.table__heading_theme_dark {
    color: white;

}

.table__cell_theme_dark {
    width: 210px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.kaufman__triangle {
    position: absolute;
    top: 0;
    right: -210px;
    width: 877px;
    height: 877px;
    animation: rotation 20s infinite;
}

.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 217px;
}

.resources__logo-zone {
    display: flex;
    text-align: center;
    margin-top: 80px;
    width: 1100px;
}

.resources__logo {

}

.resources__logo-pic {
    object-fit: contain;
    width: 270px;
    height: 38px;
}

.footer {
    background-color: #1f1f1f;
}

.footer__container{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 350px;
    max-width: 1440px;
    padding: 60px 0 40px;
    margin: auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer {
    display: flex;
    height: 35px;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 18px;
}

.footer__column_content_info {
}

.footer__column-heading {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer__column-links {
    list-style: none;
    padding: 0;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.footer__column_content_social {

}


